/*
*/
html {
    height: 100%;
}
body {
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-gap: 10px;
}
.Header {
    background: darkblue;
}
.Sidebar {
    background: darkorange;
}
.Content {
    background: darkolivegreen;
}
.Footer {
    background: darkred;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    .container {
        grid-template-columns: 1fr;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     
    .container {
        grid-template-columns: 300px auto;
    }
    .Header {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .Footer {
        grid-column-start: 1;
        grid-column-end: 3;
    }

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

    .container {
        width: 1200px;
        margin: auto;
    }
 } 